OPENAI_API_KEY={{ openai_api_key }}
ZHIPU_API_KEY={{ zhipu_api_key }}
DEEPSEEK_API_KEY={{ deepseek_api_key }}
GOOGLE_API_KEY={{ gemini_api_key }}
LIBBY_URL=http://libby-api:8000
GITHUB_CLIENT_ID={{ github_client_id }}
GITHUB_CLIENT_SECRET={{ github_client_secret }}
OAUTH_CALLBACK_URL=https://{{ epidbot_subdomain }}/auth/callback
SECRET_KEY={{ secret_key }}
