OPENAI_API_KEY={{ openai_api_key }}
ZHIPU_API_KEY={{ zhipu_api_key }}
DEEPSEEK_API_KEY={{ deepseek_api_key }}
GOOGLE_API_KEY={{ gemini_api_key }}
LIBBY_URL=http://libby-api:8000
OLLAMA_HOST=http://libby-ollama:11434
MOSQLIMATE_API_KEY={{ mosqlimate_api_key | default('') }}

# Session Security
SECRET_KEY={{ secret_key }}

# Default Admin Credentials
EPIDBOT_ADMIN_USER={{ epidbot_admin_user | default('admin') }}
EPIDBOT_ADMIN_PASSWORD={{ epidbot_admin_password }}
EPIDBOT_ADMIN_EMAIL={{ epidbot_admin_email | default('admin@kwar-ai.com.br') }}

SECRET_KEY={{ secret_key }}

EPIDBOT_ADMIN_USER={{ epidbot_admin_user | default('admin') }}
EPIDBOT_ADMIN_PASSWORD={{ epidbot_admin_password }}
EPIDBOT_ADMIN_EMAIL={{ epidbot_admin_email | default(admin_email) }}
